<h1 class="title">Editaza carte</h1>
<div mat-dialog-content >
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <div class="control">
                <input ngModel #carteIdField="ngModel" name="id" class="input" [ngModel]="carte.id" type="text" placeholder="ID" required minlength="1">
                <input ngModel #carteAutorField="ngModel" name="autor" class="input" [ngModel]="carte.autor" type="text" placeholder="Autor" required minlength="1">
                <input ngModel #carteTitluField="ngModel" name="titlu" class="input" [ngModel]="carte.titlu" type="text" placeholder="Titlu" required minlength="1">
                <input ngModel #carteEdituraField="ngModel" name="editura" class="input" [ngModel]="carte.editura" type="text" placeholder="Editura" required minlength="1">
                <input ngModel #carteLocalitateaField="ngModel" name="localitatea" class="input" [ngModel]="carte.localitate" type="text" placeholder="Localitate" required minlength="1">
                <input ngModel #carteAnField="ngModel"name="an" class="input" [ngModel]="carte.an" type="text" placeholder="An" required minlength="1">
                <input ngModel #carteLimbaField="ngModel"name="limba" class="input" [ngModel]="carte.limba" type="text" placeholder="Limba" required minlength="1">
            </div>
            <p class="help is-danger"  *ngIf="carteIdField.invalid || carteAutorField.invalid || carteTitluField.invalid 
            || carteEdituraField.invalid || carteLocalitateaField.invalid 
            || carteAnField.invalid || carteLimbaField">Toate campurile sunt obligatorii!</p>
        </div>

        <br>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-light" (click)="close()">Iesire</button>
            </div>

            <div class="control">
                <button type="submit" class="button alt-gradient-button">
                    <i class="material-icons">save</i>
                    Salveaza</button>
            </div>
        </div>

    </form>

</div>