.heading-section{
    background: linear-gradient(rgb(35, 28, 99), rgb(56, 56, 92));
    padding: 15px;
    box-shadow: 0px 1px 2px rgba(black, 0.2);
    display: flex;

    h1.title{
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 2px rgba(black, 0.2);
    }
}
.container{
    max-width: 1500px;
}
.add-carte-box{

    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(black, 0.2);
}
.form-cont{
    display: flex;
    width: 1500;
}
.form-cont .control{
    margin-top: -50px;
    margin-right: 10px;
}
.control{
    float: right;
    margin-right: 5px;
    margin-top: -90px;
}
